header {
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  text-align: left;
  background-color: rgba(0,0,0,.1);
  padding: 5px 50px 5px 50px;
}

.registration {
  float:right;
  padding-right: 100px;
}

.game-options li {
display: inline;
list-style-type: none;
margin: 0px;
padding: 0px;;
}

#create-game {
}

body {
  margin: 0 auto;
  width: 800px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 72px;
  text-align: center;
/* border: 1px black dotted; */
  margin-bottom: 0px;
}

.board {
  width: 800px;
  height: 400px;
/*  border: 1px black dotted; */
}

.player-counter {
  width: 200px;
  height: 400px;
  float: left;
/*  border: 1px black dotted; */
}

#player-name {
  font-size: 25px;
  text-align: center;
}

#player-score {
  text-align: center;
  font-size: 100px;
}

.opponent-counter {
  width: 200px;
  height: 400px;
  float: right;
/*  border: 1px black dotted; */
}

#opponent-name {
  font-size: 25px;
  text-align: center;
}

#opponent-score {
  text-align: center;
  font-size: 100px;
}

.grid {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  top: 10px;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid;
  float: left;
  text-align: center;
  font-size: 75px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.square:hover {
  background-color: red;
}

.play-buttons {
  width: 300px;
  height: 75px;
  border: 1px black solid;
  margin: auto;
  margin-top: 25px;
  text-align: center;
}

.notifications {
  line-height: 25px;
}

/*.new-row {
  clear: both;
}*/
